name: jenn-ci
run-name: ${{ github.actor }}-jenn-ci

on: 
  push:
    branches: 
      - '*'
    tags:        
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Pixi and activate 'dev' environment
        uses: prefix-dev/setup-pixi@v0.9.1 # pinned version
        with:
          environments: dev # Specify the environment to install and activate

      - name: Run tests in 'dev' environment
        run: pixi run -e dev --frozen test 

    